.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.header__container {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__item {
  width: 300px;
}

.header__img {
  width: 100%;
}
